.starter-template {
    padding: 35px 22px;
}
/*#logout{*/
/*    display:none;*/
/*}*/
.site-logo {
    width: 120px;
}
header div > a {
    background: white;
}
.modal-content {
    background-color: #979797;
}
.modal-content .btn-primary, #content .btn-primary {
    margin-top: 20px;
}
#admin_menu {
    background-color: black;
}
#admin_menu a {
    display: flex;
}
.all_users {
    background: white;
}